<!DOCTYPE html>
<html>
    <head>
        <title>Simple Quiz for Kpop and Kdrama Lovers</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
    <div class="container">
        <h1> Quiz Game</h1>
        <div id="question-box"></div>

        <input id="answer-input" type="text" placeholder="Type your answer">
        <button onclick="submitAnswer()">Submit</button>

        <p id="result"></p>
    </div>
    <script src="/static/script.js"></script>

    </body>


</html>